@import './base.css';

#app{
	display: block;
}

html, body{
	overflow: hidden;
	color: white;
}

@font-face {
	font-family: "PacificoFont";
	font-display: auto;
	font-weight: normal;
	font-style: normal;
	src: url("@/assets/font/Pacifico-Regular.ttf") format("ttf");
}
